<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Insertion détails look</title>
</head>
<body>
    <!-- sidebar -->
    <div th:replace="~{fragments/sidebar.html}"></div>

    <main class="w-[calc(100%-256px)] bg-gray-50 ml-64 min-h-screen">
        <div class="title">
            <h3 class="flex justify-center">Séléctionnez un look</h3>
        </div>
        <div class="grid grid-cols-2 gap-4 pl-5 pr-5 mt-6">
            <div class="form">
                <div class="form-card">
                    <form th:action="@{/getMatiereByLook}" method="get" class="space-y-8">
                        <div class="input-field">
                            <label for="look" class="label">Look: </label>
                            <select name="idLook" id="look" class="input">
                                <option th:each="look : ${allLook}" th:value="${look.id}" th:text="${look.nom}"></option>
                            </select>
                        </div>

                        <div class="button flex justify-end">
                            <button type="submit" class="btn">Valider</button>
                        </div>
                    </form>
                </div>
            </div>

            <table>
                <thead>
                    <tr>
                        <th class="text-white bg-gray-950">Matière</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="matiere : ${allMatiere}">
                        <td th:text="${matiere.nomMatiere}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
</body>
</html>