<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Insertion Employé</title>
</head>
<body>
    <!-- sidebar -->
    <div th:replace="~{fragments/sidebar.html}"></div>

    <main class="w-[calc(100%-256px)] bg-gray-50 ml-64 min-h-screen">
        <div class="container mx-auto">
            <div class="title flex justify-center">
                <h3>Insertion Employé</h3>
            </div>
            <div class="form-card mx-auto mt-4">
                <form th:action="@{/redirectEmbauche}" method="get" class="space-y-8">
                    <div class="input-field">
                        <label for="nom" class="label">Nom: </label>
                        <input type="text" name="nom" id="nom" class="input">
                    </div>

                    <div class="input-field">
                        <label for="prenom" class="label">Prénom</label>
                        <input type="text" name="prenom" id="prenom" class="input">
                    </div>

                    <div class="input-field">
                        <label for="dateNaissance" class="label">Date de naissance</label>
                        <input type="date" name="dateNaissance" id="dateNaissance" class="input">
                    </div>

                    <div class="button flex justify-end">
                        <button type="submit" class="btn">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
</body>
</html>