<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Insertion détails look</title>
</head>
<body>
    <!-- sidebar -->
    <div th:replace="~{fragments/sidebar.html}"></div>

    <main class="w-[calc(100%-256px)] bg-gray-50 ml-64 min-h-screen">
        <div class="container mx-auto">
            <div class="title flex justify-center">
                <h3>Insertion Détails Look</h3>
            </div>
            <div class="form-card mx-auto mt-4">
                <form th:action="@{/insertDetailsLook}" method="post" class="space-y-8">
                    <div class="input-field">
                        <label for="look" class="label">Look: </label>
                        <select name="idLook" id="look" class="input">
                            <option th:each="look : ${allLook}" th:value="${look.id}" th:text="${look.nom}"></option>
                        </select>
                    </div>
                    <div class="flex justify-center space-x-3">
                        <div class="flex items-center mb-4" th:each="matiere : ${allMatiere}">
                            <input type="checkbox" name="idMatiere" id="matiere" th:value="${matiere.id}">
                            <label for="matiere" class="ms-2 text-sm font-medium text-gray-900" th:text="${matiere.nom}"></label>
                        </div>
                    </div>

                    <div class="button flex justify-center">
                        <button type="submit" class="btn">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
</body>
</html>