<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Prix produit</title>
</head>
<body>
    <!-- sidebar -->
    <div th:replace="~{fragments/sidebar.html}"></div>

    <main class="w-[calc(100%-256px)] bg-gray-50 ml-64 min-h-screen">
        <div class="title">
            <h3 class="flex justify-center">Prix produit</h3>
        </div>
        <div class="form-card mx-auto mt-4">
            <!-- <form th:action="@{/prixProduit}" method="get" class="space-y-8"> -->
            <form th:action="@{/listProduitByPrix}" method="get" class="space-y-8">
                <div class="input-field">
                    <label for="prixMin" class="label">Min: </label>
                    <input type="number" name="prixMin" id="prixMin" class="input">
                </div>

                <div class="input-field">
                    <label for="prixMax" class="label">Max: </label>
                    <input type="number" name="prixMax" id="prixMax" class="input">
                </div>
                <div class="button flex justify-end">
                    <button type="submit" class="btn">Valider</button>
                </div>
            </form>
        </div>


        <div class="flex justify-center mt-8 prix mb-7">
            <h6>Min: <span th:text="${min}"></span></h6>
            <h6>Max: <span th:text="${max}"></span></h6>
        </div>

        <div class="flex justify-center">
            <table>
                <thead>
                    <tr>
                        <th class="text-white bg-gray-950">Type</th>
                        <th class="text-white bg-gray-950">Look</th>
                        <th class="text-white bg-gray-950">Taille</th>
                        <th class="text-white bg-gray-950">Prix</th>
                    </tr>
                </thead>
        
                <tbody>
                    <tr th:each="list : ${listPrixProduit}">
                        <td th:text="${list.type}"></td>
                        <td th:text="${list.look}"></td>
                        <td th:text="${list.taille}"></td>
                        <td th:text="${list.prix}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
</body>
</html>